@using CuaHangThucPham.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLeft1.cshtml";
    var customers = (List<CuaHangThucPham.Models.Customer>)ViewBag.customers;
    var carts = (List<CuaHangThucPham.Models.Cart>)ViewBag.carts;
    int sum = 0;
}

<div class="container">
    <div class="row">
        <div class="col-sm-9" id="content">
            <h1>Kiểm Tra Lại Thông Tin</h1>
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-checkout-option" aria-expanded="false">Thông Tin Cá Nhân  <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div id="collapse-checkout-option" role="heading" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-email" class="control-label">Họ</label>
                                        <input type="text" class="form-control" id="" placeholder="Họ..." value="@customers[0].FirstName" name="ho" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-password" class="control-label">Tên</label>
                                        <input type="text" class="form-control" id="" placeholder="Tên..." value="@customers[0].LastName" name="ten" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="input-email" class="control-label">Địa chỉ</label>
                                        <input type="text" class="form-control" id="" placeholder="Email..." value="@customers[0].Address1" name="diachi" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-password" class="control-label">Số điện thoại</label>
                                        <input type="text" class="form-control" id="" placeholder="Số điện thoại..." value="@customers[0].Phone" name="dienthoai" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-payment-address" aria-expanded="false">Địa Chỉ <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div id="collapse-payment-address" role="heading" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="radio">
                                    <label>
                                        <input type="radio" checked="checked" value="existing" name="payment_address" data-id="payment-existing">
                                        Tôi muốn sử dụng địa chỉ mặc định
                                    </label>
                                </div>
                                <div id="payment-existing">
                                    <input type="text" class="form-control" id="input-payment-address" placeholder="@customers[0].Address1" value="" name="address" readonly>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="new" name="payment_address" data-id="payment-new">
                                        Tôi muốn sử dụng địa chỉ mới
                                    </label>
                                </div>
                                <br>
                                <div id="payment-new" style="display: none;">
                                    <div class="form-group required">
                                        <label for="input-payment-firstname" class="col-sm-2 control-label">Họ</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="input-payment-firstname" placeholder="Họ..." value="" name="firstname">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-payment-lastname" class="col-sm-2 control-label">Tên</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="input-payment-lastname" placeholder="Tên..." value="" name="lastname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-payment-company" class="col-sm-2 control-label">Công ty</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="input-payment-company" placeholder="Công ty..." value="" name="company">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-payment-address-1" class="col-sm-2 control-label">Địa chỉ 1</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="input-payment-address-1" placeholder="Địa chỉ 1..." value="" name="address_1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="input-payment-address-2" class="col-sm-2 control-label">Địa chỉ 2</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="input-payment-address-2" placeholder="Địa chỉ 2..." value="" name="address_2">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <script type="text/javascript">
                                $('input[name=\'payment_address\']').on('change', function () {
                                    if (this.value == 'new') {
                                        $('#payment-existing').hide();
                                        $('#payment-new').show();
                                    } else {
                                        $('#payment-existing').show();
                                        $('#payment-new').hide();
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-shipping-address" aria-expanded="false">Lựa Chọn Phương Thức <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div id="collapse-shipping-address" role="heading" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="col-sm-6 checkout-shipping-methods">
                                    <div class="">
                                        <p>Chọn phương thức vận chuyển cho đơn hàng.</p>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" id="ship" checked="checked" value="1" name="Shipping1" onclick="removeCheckedShip(1,2)">
                                                Giao Hàng Tiết Kiệm - 0.00
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" id="ship" name="Shipping2" value="2" onclick="removeCheckedShip(2,1)">
                                                Giao Hàng Nhanh - 30,000
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 checkout-payment-methods">

                                    <div class="">
                                        <p>Chọn phương thức thanh toán cho đơn hàng.</p>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" id="payment" checked="checked" value="1" name="Payment1" onclick="removeCheckedPayment(1,2)">Thanh toán khi nhận hàng
                                            </label>
                                        </div>

                                        <div class="radio">
                                            <label>
                                                <input type="radio" id="payment" value="2" name="Payment2" onclick="removeCheckedPayment(2,1)">Chuyển Khoản
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <script type="text/javascript">
                                $('input[name=\'shipping_address\']').on('change', function () {
                                    if (this.value == 'new') {
                                        $('#shipping-existing').hide();
                                        $('#shipping-new').show();
                                    } else {
                                        $('#shipping-existing').show();
                                        $('#shipping-new').hide();
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse-shipping-method" aria-expanded="false">Khuyến Mãi <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div id="collapse-shipping-method" role="heading" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="input-email" class="control-label">Mã khuyến mãi</label>
                                    <input type="text" class="form-control" id="" placeholder="Khuyến mãi..." value="" name="khuyenmai">
                                </div>
                            </div>
                            <div class="pull-right">
                                <input type="button" class="btn btn-primary" data-loading-text="Loading..." id="button-shipping-method" value="Kiểm tra">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapse-checkout-confirm" aria-expanded="true">Giỏ Hàng <i class="fa fa-caret-down"></i></a></h4>
                </div>
                <div id="collapse-checkout-confirm" role="heading" class="panel-collapse collapse in" aria-expanded="true" style="">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td class="text-left"><strong>Tên sản phẩm</strong></td>
                                        <td class="text-left"><strong>Ảnh</strong></td>
                                        <td class="text-right"><strong>Số lượng</strong></td>
                                        <td class="text-right"><strong>Đơn giá</strong></td>
                                        <td class="text-right"><strong>Thành tiền</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in carts)
                                    {
                                        <tr>
                                            <td class="text-left"><a href="/Product/DetailProduct?id=@item.Product.ProductID">@item.Product.ProductName</a></td>
                                            <td class="text-left"><img class="img-thumbnail" style="width:59px; height:50px" title="women's clothing" alt="women's clothing" src="~/Public/image/product/@item.Product.Image"></td>
                                            <td class="text-right">@item.Quantity</td>
                                            <td class="text-right">@string.Format("{0:#,##0}", item.Product.PriceNew)</td>
                                            <td class="text-right">@string.Format("{0:#,##0}", (item.Quantity * item.Product.PriceNew))</td>
                                            @{sum += (int)item.Quantity * (int)item.Product.PriceNew;}
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-right" colspan="4"><strong>Tổng:</strong></td>
                                        <td class="text-right" id="sum">@string.Format("{0:#,##0}", sum)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="4"><strong>Phí vận chuyển:</strong></td>
                                        <td class="text-right" id="shipfees">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="4"><strong>Giảm giá:</strong></td>
                                        <td class="text-right" id="discount">0</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="4"><strong>Tổng Cộng:</strong></td>
                                        <td class="text-right" id="totalmonny">@sum</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-pencil"></i> Lưu ý về đơn hàng cho người bán</h4>
                        </div>
                        <div class="panel-body">
                            <textarea rows="4" class="form-control" id="confirm_comment" name="comments"></textarea>
                        </div>
                        <input type="text" class="hidden" id="discount" placeholder="Discount" value="0" name="Discount">
                        <div class="buttons">
                            <div class="pull-right" style="padding-left:90%" onclick="order(@sum);">
                                <input type="button" data-loading-text="Loading..." class="btn btn-primary" id="button-confirm" value="Đặt hàng">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>*@

<script>

    function removeCheckedShip(id1, id2) {
                                            var name1 = 'Shipping' + id1;
                                            var name2 = 'Shipping' + id2;
        $("input:radio[name=" + name2 + " ]").each(function (i) {
                                                this.checked = false;
                                                });
        $("input:radio[name=" + name1 + " ]").each(function (i) {
                                                    this.checked = true;
                                                    });
                                                    var value1 = $('input[id=ship]:checked').val();
                                                    if (value1 == 2) {
            @*var Total = @ViewBag.PriceAfterDiscount;
            Total += 30000;
            var sTotal = Total.toString();
            //document.getElementById("TotalOrder").innerText = format(sTotal);*@
            document.getElementById("totalmonny").innerText = (parseInt(document.getElementById("totalmonny").innerText, 10) - parseInt(document.getElementById("discount").innerText, 10) + 30000).toString();
            document.getElementById("shipfees").innerText = '30,000';
        }
        else if (value1 == 1) {
            @*var Total = @ViewBag.PriceAfterDiscount;
            //document.getElementById("TotalOrder").innerText  = format(Total);*@
            document.getElementById("totalmonny").innerText = (parseInt(document.getElementById("totalmonny").innerText, 10) + parseInt(document.getElementById("discount").innerText, 10) - 30000).toString();
            document.getElementById("shipfees").innerText  = '0';
        }

    }
    function removeCheckedPayment(id1, id2) {
        var name1 = 'Payment' + id1;
        var name2 = 'Payment' + id2;
        $("input:radio[name=" + name2 + " ]").each(function (i) {
            this.checked = false;
        });
        $("input:radio[name=" + name1 + " ]").each(function (i) {
            this.checked = true;
        });
    }
    function order(Totalorder) {
        //Totalorder = document.getElementById("totalmonny").innerText;
        //var value1 = $('input[id=ship]:checked').val();
        //var value2 = $('input[id=payment]:checked').val();
        //var shippingadd = $('input[name="address_1"]').val();
        //var name = $('input[name="firstname"]').val() +' '+$('input[name="lastname"]').val();
        //alert(name);
        //var phone = $('input[name="telephone"]').val();
        //var comment = $('textarea[id=confirm_comment]').val();
        //var discount = $('input[id="discount"]').val();
        Totalorder = document.getElementById("totalmonny").innerText;
        var value1 = $('input[id=ship]:checked').val();
        var value2 = $('input[id=payment]:checked').val();
        var shippingadd = $('input[name="diachi"]').val();
        var name = $('input[name="ho"]').val() + ' ' + $('input[name="ten"]').val();
        alert(name);
        var phone = $('input[name="dienthoai"]').val();
        var comment = $('textarea[id=confirm_comment]').val();
        var discount = $('input[id="discount"]').val();
        $.ajax({
            url: '/CheckOut/Payment/',
            dataType: 'json',
            data: { shipid: value1, paymentid: value2, shipadd: shippingadd, discounting: discount,  total: Totalorder, note: comment, name: name, phone: phone },
                type: 'POST',
                success: function (response) {
                    if (response.status == true) {
                        window.location.href = '@Url.Content("~/Order/Index")';
                    }
                }
            });

    }
    @*
    function format(x) {
    return isNaN(x)?"":x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    *@
    window.onload = function () {
        var cart = document.getElementById("cart");
        cart.setAttribute("class","hidden");
    }
</script>