@using CuaHangThucPham.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutRight.cshtml";
    var blogs = (List<CuaHangThucPham.Models.Blog>)ViewBag.Blogs;
}
<div class="container">
    <div class="row">

        <div id="content" class="col-sm-9">
            @for (int i = 1; i < blogs.Count; i ++)
            {
                <div class="blog1 blog">
                    <div class="blog_img"><img src="~/Public/image/blog/@blogs[i].Image" alt="" /></div>
                    <h4 class="p-name"><a href="/Blog/SingaleBlog/@blogs[i].BlogID">@blogs[i].Title</a></h4>
                    <ul class="blog-meta">
                        <li><i class="fa fa-clock-o"></i><span class="dt-published">@blogs[i].DateAdded</span></li>
                        <li><i class="fa fa-comment-o"></i><span>@i</span> Bình luận</li>
                        <li><i class="fa fa-user"></i><span><a rel="author" title="Posts by Admin" href="#">@blogs[i].Customer.FirstName @blogs[i].Customer.LastName</a></span></li>
                    </ul>
                    <p class="p-summary"></p>
                    <p>
                        @blogs[i].Content.Substring(0,300)...
                    </p>
                    <a class="u-url" href="/Blog/SingaleBlog/@blogs[i].BlogID">Xem thêm</a>
                </div>
            }
            </div>
        <!-- end blog-home -->
            <!-- end blog-sidebar -->
    </div>
</div>