
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var reviews = (List<CuaHangThucPham.Models.Review>)ViewBag.reviews;
    var customers = (List<CuaHangThucPham.Models.Customer>)ViewBag.customers;
    var products = (List<CuaHangThucPham.Models.Product>)ViewBag.products;
    var rv = (int[])ViewBag.rv;
}

<div class="container-fluid">

    <!-- Page Heading -->
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách bình luận</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Người bình luận</th>
                            <th>Sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Số sao</th>
                            <th>Nội dung</th>
                            <th>Thời gian</th>
                            <th>Tình trạng</th>
                            <th>Trả lời bình luận</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < reviews.Count; i++)
                        {
                            <tr>
                                <td>@reviews[i].ReviewID</td>
                                <td>@customers[i].FirstName @customers[i].LastName</td>
                                <td>@products[i].ProductName</td>
                                <td>
                                    <img style="width: 90px; height: 70px; " src="/Public/image/product/@products[i].Image" class="img-responsive" />
                                </td>
                                <td>@reviews[i].NumStar</td>
                                <td>@reviews[i].Comment</td>
                                <td>@string.Format("{0:dd/MM/yyyy}", reviews[i].DateAdded)</td>
                                @if (rv[i] == 1)
                                {
                                    <td style="color:blue">Đã trả lời</td>
                                }
                                else
                                {
                                    <td style="color:red">Chưa trả lời</td>
                                }
                                <td>
                                    <div>
                                        <a href="Reply/@reviews[i].ReviewID">
                                            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="">Trả lời</button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
