
@{
    ViewBag.Title = "History";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var customers = (List<CuaHangThucPham.Models.Customer>)ViewBag.customers;
    var products = (List<CuaHangThucPham.Models.Product>)ViewBag.products;
    var inventories = (List<CuaHangThucPham.Models.Inventory>)ViewBag.inventories;
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Table</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lịch sử nhập hàng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Thời gian</th>
                            <th>Sản phẩm</th>
                            <th>Số lượng nhập</th>
                            <th>Số tồn hiện tại</th>
                            <th>Ngày hết hạn</th>
                            <th>Nhân viên nhập</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < inventories.Count; i++)
                        {
                            <tr>
                                <td>@inventories[i].InventoryID</td>
                                <td>@string.Format("{0:dd/MM/yyyy}", inventories[i].DateAdded)</td>
                                <td>@products[i].ProductName</td>
                                <td>@inventories[i].Quantity</td>
                                <td>@inventories[i].InventoryNumber</td>
                                <td>@string.Format("{0:dd/MM/yyyy}", inventories[i].ExpirationDate)</td>
                                <td>@customers[i].FirstName @customers[i].LastName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

