@using CuaHangThucPham.Models;
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_layoutLeft1.cshtml";
    var customers = (List<CuaHangThucPham.Models.Customer>)ViewBag.customers;
}
@if (Session["name"] == null) // chưa đăng nhập => đăng ký
{
    <div class="col-sm-9" id="content">
        @if (TempData["Error"] != null)//kiểm tra thông báo để hiển thị
        {

            <div id="alert" class="alert alert-danger class=" col-sm-8 col-sm-offset-2"">
                <i class="fa fa-exclamation-circle"></i> Thất bại : @TempData["Error"]
            </div>
        }
        else if (TempData["Succes"] != null)
        {
            <div id="alert" class="alert alert-success col-sm-8 col-sm-offset-2">
                <i class="fa fa-check-circle"></i>Đăng ký tài khoản thành công
            </div>
        }
        <p>Nếu bạn đã có tài khoản. Hãy đăng nhập <a href="\Account\Login"><strong>tại đây</strong></a>.</p>
        <form class="form-horizontal" enctype="multipart/form-data" method="post" action="CreateAccount">
            <fieldset id="account">
                <legend>Thông tin chi tiết</legend>
                <div style="display: none;" class="form-group required">
                    <label class="col-sm-2 control-label">Customer Group</label>
                    <div class="col-sm-10">
                        <div class="radio">
                            <label>
                                <input type="radio" checked="checked" value="1" name="customer_group_id">
                                Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Họ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-firstname" placeholder="First Name" value="" name="firstname">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-lastname" class="col-sm-2 control-label">Tên</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-lastname" placeholder="Last Name" value="" name="lastname">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="input-email" placeholder="E-Mail" value="" name="email">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-telephone" class="col-sm-2 control-label">Số điện thoại</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="input-telephone" placeholder="Telephone" value="" name="telephone">
                    </div>
                </div>
            </fieldset>
            <fieldset id="address">
                <legend>Địa chỉ</legend>
                <div class="form-group">
                    <label for="input-company" class="col-sm-2 control-label">Công ty</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-company" placeholder="Company" value="" name="company">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-address-1" class="col-sm-2 control-label">Địa chỉ 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-address-1" placeholder="Address 1" value="" name="address_1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-address-2" class="col-sm-2 control-label">Địa chỉ 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-address-2" placeholder="Address 2" value="" name="address_2">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-city" class="col-sm-2 control-label">Thành phố</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-city" placeholder="City" value=" " name="city">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Your Password</legend>
                <div class="form-group required">
                    <label for="input-password" class="col-sm-2 control-label">Mật khẩu</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="input-password" placeholder="Password" value="a" name="password">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-confirm" class="col-sm-2 control-label">Nhập lại mật khẩu</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="input-confirm" placeholder="Password Confirm" value="" name="confirm">
                    </div>
                </div>
            </fieldset>
            <div class="buttons" style="padding-left:51%">
                <div class="pull-right">
                    Tôi đã đọc và đồng ý với <a class="agree" href="#"><b>Chính sách và điều khoản</b></a>
                    <input type="checkbox" value="1" name="agree"> &nbsp;
                    <input type="submit" class="btn btn-primary" value="Đăng Ký">
                </div>
            </div>
        </form>
    </div>
}
else  // đăng nhập
{
<div class="col-sm-9" id="content">
        <form class="form-horizontal" enctype="multipart/form-data" method="post" action="UpdateAccount">
            <fieldset id="account">
                <legend>Thông tin chi tiết</legend>
                <div style="display: none;" class="form-group required">
                    <label class="col-sm-2 control-label">Customer Group</label>
                    <div class="col-sm-10">
                        <div class="radio">
                            <label>
                                <input type="radio" checked="checked" value="1" name="customer_group_id">
                                Default
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-firstname" class="col-sm-2 control-label">Họ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-firstname" placeholder="First Name" value="@customers[0].FirstName" name="firstname">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-lastname" class="col-sm-2 control-label">Tên</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-lastname" placeholder="Last Name" value="@customers[0].LastName" name="lastname">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="input-email" placeholder="E-Mail" value="@customers[0].Email" name="email">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-telephone" class="col-sm-2 control-label">Số điện thoại</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="input-telephone" placeholder="Telephone" value="@customers[0].Phone" name="telephone">
                    </div>
                </div>
            </fieldset>
            <fieldset id="address">
                <legend>Địa chỉ</legend>
                <div class="form-group">
                    <label for="input-company" class="col-sm-2 control-label">Công ty</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-company" placeholder="Company" value="@customers[0].Company" name="company">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-address-1" class="col-sm-2 control-label">Địa chỉ 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-address-1" placeholder="Address 1" value="@customers[0].Address1" name="address_1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-address-2" class="col-sm-2 control-label">Địa chỉ 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-address-2" placeholder="Address 2" value="@customers[0].Address2" name="address_2">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-city" class="col-sm-2 control-label">Thành phố</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-city" placeholder="City" value="@customers[0].City" name="city">
                    </div>
                </div>
            </fieldset>
            <div class="buttons" style="padding-left:92%" >
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary" value="Cập Nhật">
                </div>
            </div>
        </form>
        </div>
}
<script>
    function remove() {
        var alert = document.getElementById("alert");
        alert.remove();
    }
    window.onload = function () {
        document.onclick = function () {
            remove();
        };
    }
</script>