
@using CuaHangThucPham.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutLeft1.cshtml";
    var carts = (List<CuaHangThucPham.Models.Cart>)ViewBag.Carts;
    int sum = 0;
}
<div class="container">
    <div class="row">
        <div class="col-sm-9" id="content">
            <h1>Giỏ hảng</h1>
            <form enctype="multipart/form-data" method="post" action="#">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">Ảnh</td>
                                <td class="text-left">Tên sản phẩm</td>
                                <td class="text-left">Loại</td>
                                <td class="text-left">Số lượng</td>
                                <td class="text-right">Đơn giá</td>
                                <td class="text-right">Thành tiền</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in carts)
                            {
                                <tr id="q_@item.ProductID">
                                    <td class="text-center">
                                        <a href="product.html"><img class="img-thumbnail" style="width:59px; height:50px" title="@item.Product.ProductName" alt="@item.Product.ProductName" src="~/Public/image/product/@item.Product.Image"></a>
                                    </td>
                                    <td class="text-left"><a href="product.html">@item.Product.ProductName</a></td>
                                    <td class="text-left">@item.Product.SubCategory.SubCategoriesName</td>
                                    <td class="text-left">
                                        <div style="max-width: 200px;" class="input-group btn-block">
                                            <input type="text" id="quan_@item.ProductID" class="form-control quantity" size="1" value="@item.Quantity" name="quantity">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" title="" data-toggle="tooltip" type="submit" data-original-title="Update" onclick="UpdateCart(@item.ProductID)"><i class="fa fa-refresh"></i></button>
                                                <button class="btn btn-danger" title="" data-toggle="tooltip" type="button" data-original-title="Remove" onClick="cart.remove(@item.ProductID);"><i class="fa fa-times-circle"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">@string.Format("{0:#,##0}", item.Product.PriceNew)</td>
                                    <td class="text-right">@(string.Format("{0:#,##0}", item.Quantity * item.Product.PriceNew))</td>
                                    @{ sum += (int)item.Quantity * (int)item.Product.PriceNew;}
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
            <h2>Bạn đang có mã giảm giá?</h2>
            <p>Hãy nhập và sử dụng nó tại đây</p>
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapse-voucher">Sử dụng mã giảm giá  <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapse-voucher">
                        <div class="panel-body">
                            <label for="input-voucher" class="col-sm-3 control-label">Nhập mã giảm giá tại đây</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="input-voucher" placeholder="Mã giảm giá..." value="" name="voucher">
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-primary" data-loading-text="Loading..." id="button-voucher" value="Đồng ý">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#collapse-shipping">Địa chỉ giao hàng nhanh nhất  <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapse-shipping">
                        <div class="panel-body">
                            <p>Lựa chọn địa chỉ</p>
                            <form class="form-horizontal">
                                <div class="form-group required">
                                    <label for="input-country" class="col-sm-2 control-label">Thành phố/Tỉnh</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="input-country" name="country_id">
                                            <option value=""> --- Chọn --- </option>
                                            <option value="1">Hà Nội</option>
                                            <option value="2">Thanh Hóa</option>
                                            <option value="3">Thành phố Hồ Chí Minh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="input-zone" class="col-sm-2 control-label">Quận/Huyện</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="input-zone" name="zone_id">
                                            <option value=""> --- Chọn --- </option>
                                            <option value="10">Hai Bà Trưng</option>
                                            <option value="11">Tây Hồ</option>
                                            <option value="12">Bắc Từ Liêm</option>
                                            <option value="13">Nam Từ Liêm</option>
                                            <option value="14">Hoài Đức</option>
                                            <option value="15">Đông Anh</option>
                                            <option value="16">Thanh Xuân</option>
                                            <option value="17">Hà Đông</option>
                                            <option value="18">Ba Đình</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="input-zone" class="col-sm-2 control-label">Phường/Xã</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="input-zone" name="zone_id">
                                            <option value=""> --- Chọn --- </option>
                                            <option value="1000">Cổ Nhuế 1</option>
                                            <option value="1000">Cổ Nhuế 2</option>
                                            <option value="1000">Điện Biên</option>
                                            <option value="1000">Kim Mã</option>
                                            <option value="1000">Quán Thánh</option>
                                            <option value="1000">Trúc Bạch</option>
                                            <option value="1000">Đội Cấn</option>
                                            <option value="1000">Minh Khai</option>
                                            <option value="1000">Xuân Đỉnh</option>
                                            <option value="1000">Mai Dịch</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label for="input-postcode" class="col-sm-2 control-label">Địa chỉ cụ thể</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="input-postcode" placeholder="Địa chỉ..." value="" name="postcode">
                                    </div>
                                </div>
                                <input type="button" class="btn btn-primary pull-right" data-loading-text="Loading..." id="button-quote" value="Xác nhận">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-right">Tổng tiền sản phầm:</td>
                                <td class="text-right"><strong>@string.Format("{0:#,##0}", sum)</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="buttons">
                <div class="pull-left"><a class="btn btn-primary" href="\Home\Index">Tiếp tục mua sắm</a></div>
                <div class="pull-right"><a class="btn btn-primary" href="\CheckOut\Index">Thanh toán</a></div>
            </div>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "Chức năng ước tính chưa hoàn thành";
    }
</script>