
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var customers = (List<CuaHangThucPham.Models.Customer>)ViewBag.customers;
}

<div class="container-fluid">

    <!-- Page Heading -->
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách khách hàng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Công ty</th>
                            <th>Địa chỉ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < customers.Count; i++)
                        {
                            <tr>
                                <td>@customers[i].CustomerID</td>
                                <td>@customers[i].FirstName @customers[i].LastName</td>
                                <td>@customers[i].Email</td>
                                <td>@customers[i].Phone</td>
                                <td>@customers[i].Company</td>
                                <td>@customers[i].Address1</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
