<!DOCTYPE html>

<html lang="en">

<head>
    <title>Fresh Food</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="e-commerce site well design with responsive view." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Styles.Render("~/Public/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Public/font-awesome/css/font-awesome.min.css")
    @Styles.Render("https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,500,700,900")
    @Styles.Render("~/Public/css/stylesheet.css")
    @Styles.Render("~/Public/css/responsive.css")
    @Styles.Render("~/Public/owl-carousel/owl.carousel.css")
    @Styles.Render("~/Public/owl-carousel/owl.transitions.css")
    @Scripts.Render("~/Public/javascript/jquery-2.1.1.min.js")
    @Scripts.Render("~/Public/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Public/javascript/jstree.min.js")
    @Scripts.Render("~/Public/javascript/template.js")
    @Scripts.Render("~/Public/javascript/common.js")
    @Scripts.Render("~/Public/javascript/global.js")
    @Scripts.Render("~/Public/owl-carousel/owl.carousel.min.js")
    @Scripts.Render("~/Public/addtocart.js")
    @Styles.Render("~/Public/css/ringphone.css")
    @Styles.Render("~/Public/css/lib.css")
</head>

<body class="account-register col-2">
    <div class="preloader loader" style="display: block; background:#f2f2f2;"> <img src="~/Public/image/loader.gif" alt="#" /></div>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="top-left pull-left">
                            <div class="language">
                                <form action="#" method="post" enctype="multipart/form-data" id="language">
                                    <div class="btn-group">
                                        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img src="~/Public/image/flags/gb.png" alt="English" title="English">English <i class="fa fa-caret-down"></i></button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#"><img src="~/Public/image/flags/lb.png" alt="Arabic" title="Arabic"> Arabic</a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="~/Public/image/flags/gb.png" alt="English" title="English"> English</a>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                            <div class="currency">
                                <form action="#" method="post" enctype="multipart/form-data" id="currency">
                                    <div class="btn-group">
                                        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <strong>$</strong> <i class="fa fa-caret-down"></i> </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <button class="currency-select btn btn-link btn-block" type="button" name="EUR">€ Euro</button>
                                            </li>
                                            <li>
                                                <button class="currency-select btn btn-link btn-block" type="button" name="GBP">£ Pound Sterling</button>
                                            </li>
                                            <li>
                                                <button class="currency-select btn btn-link btn-block" type="button" name="USD">$ US Dollar</button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="top-right pull-right">
                            <div id="top-links" class="nav pull-right">
                                <ul class="list-inline">
                                    <li class="dropdown">
                                        <a href="#" title="My Account" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i><span>Đăng ký</span> <span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="register.html">Register</a></li>
                                            <li><a href="\Account\Login">Login</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" id="wishlist-total" title="Wish List (0)"><i class="fa fa-lock"></i><span>Đăng nhập</span><span></span></a></li>
                                </ul>
                                <div class="search-box">
                                    <input class="input-text" placeholder="search.." type="text">
                                    <button class="search-btn"><i class="fa fa-search"></i></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header-inner">
                <div class="col-sm-4 col-xs-6 header-left">
                    <div class="shipping">
                        <div class="shipping-img"></div>
                        <div class="shipping-text">0358.775.132 - 0329.281.596<span class="shipping-detail">Làm việc từ 8:00 đến 21:00</span></div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 header-middle">
                    <div class="header-middle-top">
                        <div id="logo">
                            <a href="index.html"><img src="~/Public/image/logo.png" title="E-Commerce" alt="E-Commerce" class="img-responsive" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 header-right">
                    <div id="cart" class="btn-group btn-block">
                        <button type="button" class="btn btn-inverse btn-block btn-lg dropdown-toggle cart-dropdown-button">
                            <span id="cart-total">
                                <span class="cart-title">Giỏ hảng</span><br>
                                0 item(s) - $0.00
                            </span>
                        </button>
                        <ul class="dropdown-menu pull-right cart-dropdown-menu">
                            <li>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                <a href="#"><img class="img-thumbnail" style="width:59px; height:50px" title="lorem ippsum dolor dummy" alt="lorem ippsum dolor dummy" src="~/Public/image/product/product7.jpg"></a>
                                            </td>
                                            <td class="text-left"><a href="#">lorem ippsum dolor dummy</a></td>
                                            <td class="text-right">x 1</td>
                                            <td class="text-right">$254.00</td>
                                            <td class="text-center"><button class="btn btn-danger btn-xs" title="Remove" type="button"><i class="fa fa-times"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <div>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="text-right"><strong>Sub-Total</strong></td>
                                                <td class="text-right">$210.00</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                                                <td class="text-right">$2.00</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>VAT (20%)</strong></td>
                                                <td class="text-right">$42.00</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>Total</strong></td>
                                                <td class="text-right">$254.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="text-right"> <span class="btn-viewcart"><a href="\Cart\Index"><strong><i class="fa fa-shopping-cart"></i> View Cart</strong></a></span> <span class="btn-checkout"><a href="" \CheckOut\Index""><strong><i class="fa fa-share"></i> Checkout</strong></a></span>                                        </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav id="menu" class="navbar">
        <div class="nav-inner container">
            <div class="navbar-header">
                <span id="category" class="visible-xs">Categories</span>
                <button type="button" class="btn btn-navbar navbar-toggle"><i class="fa fa-bars"></i></button>
            </div>
            <div class="navbar-collapse">
                <ul class="main-navigation">
                    <li><a href="/Home/Index" class="parent">Trang chủ</a> </li>
                    <li><a href="/Categories/Index?CategoriesID=1" class="parent">Thực phẩm</a> </li>
                    <li><a href="/Categories/Index?CategoriesID=2" class="parent">Rau củ</a> </li>
                    <li><a href="/Categories/Index?CategoriesID=5" class="parent">Gia vị</a> </li>
                    <li><a href="/Categories/Index?CategoriesID=7" class="parent">Đồ uống</a> </li>
                    <li><a href="/Blog/Index" class="parent">Bài viết</a></li>
                    <li><a href="/Home/About">Giới thiệu</a></li>
                    <li><a href="/Home/Contact">Liên hệ</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Account</a></li>
            <li><a href="register.html">Register</a></li>
        </ul>
        <div class="row">
            <div class="col-sm-3 hidden-xs column-left" id="column-left">
                <div class="column-block">
                    <div class="columnblock-title">Account</div>
                    <div class="account-block">
                        <div class="list-group">
                            <a class="list-group-item" href="\Account\Login">Login</a> <a class="list-group-item" href="register.html">Register</a> <a class="list-group-item" href="forgetpassword.html">Forgotten Password</a> <a class="list-group-item" href="#">My Account</a>                            <a class="list-group-item" href="#">Address Book</a> <a class="list-group-item" href="#">Wish List</a> <a class="list-group-item" href="#">Order History</a> <a class="list-group-item" href="download">Downloads</a> <a class="list-group-item"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        href="#">Reward Points</a> <a class="list-group-item" href="#">Returns</a> <a class="list-group-item" href="#">Transactions</a> <a class="list-group-item" href="#">Newsletter</a><a class="list-group-item last" href="#">Recurring payments</a>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-top-cms">
                    <div class="col-sm-7">
                        <div class="newslatter">
                            <form>
                                <h5>Newsletter</h5>
                                <div class="input-group">
                                    <input type="text" class=" form-control" placeholder="Email Here......">
                                    <button type="submit" value="Sign up" class="btn btn-large btn-primary">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="footer-social">
                            <h5>Social</h5>
                            <ul>
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 footer-block">
                    <h5 class="footer-title">Information</h5>
                    <ul class="list-unstyled ul-wrapper">
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="" \CheckOut\Index"">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 footer-block">
                    <h5 class="footer-title">Customer Service</h5>
                    <ul class="list-unstyled ul-wrapper">
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Wish List</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 footer-block">
                    <h5 class="footer-title">Extras</h5>
                    <ul class="list-unstyled ul-wrapper">
                        <li><a href="#">Brands</a></li>
                        <li><a href="gift.html">Gift Vouchers</a></li>
                        <li><a href="affiliate.html">Affiliates</a></li>
                        <li><a href="#">Specials</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 footer-block">
                    <div class="content_footercms_right">
                        <div class="footer-contact">
                            <h5 class="contact-title footer-title">Contact Us</h5>
                            <ul class="ul-wrapper">
                                <li>
                                    <i class="fa fa-map-marker"></i><span class="location2">
                                        236 Hoàng Quốc Việt<br>
                                        Cổ Nhuế 1, Bắc Từ Liêm<br>
                                        Hà Nội
                                    </span>
                                </li>
                                <li><i class="fa fa-envelope"></i><span class="mail2"><a href="#">hacongquoclun@gmail.com</a></span></li>
                                <li><i class="fa fa-mobile"></i><span class="phone2">0358.775.132</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="scrollup" style="padding-bottom:150px">Scroll</a>
    </footer>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">Bản quyền thuộc về<a class="yourstore" href="https://www.facebook.com/baothuong2504"> Quốc Bảo &copy; 2023 </a> </div>
            <div class="footer-bottom-cms">
                <div class="footer-payment">
                    <ul>
                        <li class="mastero">
                            <a href="#"><img alt="" src="~/Public/image/payment/mastero.jpg"></a>
                        </li>
                        <li class="visa">
                            <a href="#"><img alt="" src="~/Public/image/payment/visa.jpg"></a>
                        </li>
                        <li class="currus">
                            <a href="#"><img alt="" src="~/Public/image/payment/currus.jpg"></a>
                        </li>
                        <li class="discover">
                            <a href="#"><img alt="" src="~/Public/image/payment/discover.jpg"></a>
                        </li>
                        <li class="bank">
                            <a href="#"><img alt="" src="~/Public/image/payment/bank.jpg"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="fix_tel">
        @Html.Partial("_MessageAlert")
        <div class="fix_tel">
            <div class="tel">
                <p class="fone"><a href="tel:0358775132">0358.775.132 </a></p>
            </div>
            <div class="ring-alo-phone ring-alo-green ring-alo-show" id="ring-alo-phoneIcon">
                <div class="ring-alo-ph-circle"></div>
                <div class="ring-alo-ph-circle-fill"></div>
                <div class="ring-alo-ph-img-circle">

                    <a href="tel:0358775132">
                        <img class="lazy" style="background:none" src="~/Public/image/theme/phone-ring.png">
                        <noscript>&amp;lt;img src="/Public/image/theme/icon-phone.png" alt=""&amp;gt;</noscript>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="https://chat.zalo.me/?phone=0358775132" id="linkzalo" target="_blank" rel="noopener noreferrer">
                <div id="fcta-zalo-tracking" class="fcta-zalo-mess">
                    <span id="fcta-zalo-tracking">Chat hỗ trợ</span>
                </div><div class="fcta-zalo-vi-tri-nut"><div id="fcta-zalo-tracking" class="fcta-zalo-nen-nut"><div id="fcta-zalo-tracking" class="fcta-zalo-ben-trong-nut"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460.1 436.6"><path fill="currentColor" class="st0" d="M82.6 380.9c-1.8-.8-3.1-1.7-1-3.5 1.3-1 2.7-1.9 4.1-2.8 13.1-8.5 25.4-17.8 33.5-31.5 6.8-11.4 5.7-18.1-2.8-26.5C69 269.2 48.2 212.5 58.6 145.5 64.5 107.7 81.8 75 107 46.6c15.2-17.2 33.3-31.1 53.1-42.7 1.2-.7 2.9-.9 3.1-2.7-.4-1-1.1-.7-1.7-.7-33.7 0-67.4-.7-101 .2C28.3 1.7.5 26.6.6 62.3c.2 104.3 0 208.6 0 313 0 32.4 24.7 59.5 57 60.7 27.3 1.1 54.6.2 82 .1 2 .1 4 .2 6 .2H290c36 0 72 .2 108 0 33.4 0 60.5-27 60.5-60.3v-.6-58.5c0-1.4.5-2.9-.4-4.4-1.8.1-2.5 1.6-3.5 2.6-19.4 19.5-42.3 35.2-67.4 46.3-61.5 27.1-124.1 29-187.6 7.2-5.5-2-11.5-2.2-17.2-.8-8.4 2.1-16.7 4.6-25 7.1-24.4 7.6-49.3 11-74.8 6zm72.5-168.5c1.7-2.2 2.6-3.5 3.6-4.8 13.1-16.6 26.2-33.2 39.3-49.9 3.8-4.8 7.6-9.7 10-15.5 2.8-6.6-.2-12.8-7-15.2-3-.9-6.2-1.3-9.4-1.1-17.8-.1-35.7-.1-53.5 0-2.5 0-5 .3-7.4.9-5.6 1.4-9 7.1-7.6 12.8 1 3.8 4 6.8 7.8 7.7 2.4.6 4.9.9 7.4.8 10.8.1 21.7 0 32.5.1 1.2 0 2.7-.8 3.6 1-.9 1.2-1.8 2.4-2.7 3.5-15.5 19.6-30.9 39.3-46.4 58.9-3.8 4.9-5.8 10.3-3 16.3s8.5 7.1 14.3 7.5c4.6.3 9.3.1 14 .1 16.2 0 32.3.1 48.5-.1 8.6-.1 13.2-5.3 12.3-13.3-.7-6.3-5-9.6-13-9.7-14.1-.1-28.2 0-43.3 0zm116-52.6c-12.5-10.9-26.3-11.6-39.8-3.6-16.4 9.6-22.4 25.3-20.4 43.5 1.9 17 9.3 30.9 27.1 36.6 11.1 3.6 21.4 2.3 30.5-5.1 2.4-1.9 3.1-1.5 4.8.6 3.3 4.2 9 5.8 14 3.9 5-1.5 8.3-6.1 8.3-11.3.1-20 .2-40 0-60-.1-8-7.6-13.1-15.4-11.5-4.3.9-6.7 3.8-9.1 6.9zm69.3 37.1c-.4 25 20.3 43.9 46.3 41.3 23.9-2.4 39.4-20.3 38.6-45.6-.8-25-19.4-42.1-44.9-41.3-23.9.7-40.8 19.9-40 45.6zm-8.8-19.9c0-15.7.1-31.3 0-47 0-8-5.1-13-12.7-12.9-7.4.1-12.3 5.1-12.4 12.8-.1 4.7 0 9.3 0 14v79.5c0 6.2 3.8 11.6 8.8 12.9 6.9 1.9 14-2.2 15.8-9.1.3-1.2.5-2.4.4-3.7.2-15.5.1-31 .1-46.5z"></path></svg></div><div id="fcta-zalo-tracking" class="fcta-zalo-text">Chat ngay</div></div></div>
            </a>
        </div>
    </section>
</body>

</html>